body {
  margin: 0;
  padding: 0;
}

#upper-nav {
  height: 35px;
  background-color: #3e3e3e;
}

#about-link {
  color: #ec5242;
}

#isc-club {
  border: 5px solid #ec5242;
}

.nav-icon {
  height: 20px;
}

.nav-logo {
  height: 50px;
}

#header {
  background-image: linear-gradient(rgba(211, 211, 211, 0.2), rgba(211, 211, 211, 0.2));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#header-row {
  width: 75%;
  background-image: linear-gradient(rgba(211, 211, 211, 0.15), rgba(211, 211, 211, 0.15)), url('images-icons/icons/background-icon-6.svg'), linear-gradient(rgba(211, 211, 211, 0.15), rgba(211, 211, 211, 0.15)), url('images-icons/icons/background-icon-3.svg'), linear-gradient(rgba(211, 211, 211, 0.15), rgba(211, 211, 211, 0.15)), url('images-icons/icons/background-icon-4.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 50px 50px, 50px 50px, 50px 50px, 50px 50px, 100px 100px, 100px 100px;
  background-position: 90% 30%, 90% 30%, 65% 3%, 65% 3%, 50% 50%, 50% 50%;
}

.header-h1 {
  color: rgba(236, 82, 66);
  text-shadow: 0 0 3px #f22, 0 0 3px orange;
}

#header-p {
  background-color: #fff;
}

#link-header {
  color: black;
}

.hr-featured-speakers {
  color: #ec5242;
  height: 2px;
  width: 5%;
}

.logo-p {
  color: #d3d3d3;
}

#logo-logo {
  width: 300px;
  height: 250px;
}

.back-event {
  background-image: linear-gradient(rgba(236, 82, 66, 0.9), rgba(236, 82, 66, 0.9)), url('images-icons/images/background.jpg');
  height: 250px;
}

.image-speaker {
  height: 200px;
  width: 200px;
  margin-left: -12px;
}

.speaker-p {
  color: #ec5242;
}

.speaker-p2 {
  color: #d3d3d3;
}

.speaker-hr {
  color: #d3d3d3;
  height: 4px;
  width: 10%;
  margin-left: 10px;
}

.speakers hr {
  color: #d3d3d3;
  height: 4px;
  width: 10%;
  margin-left: 10px;
}

#hr-featured-speakers {
  color: #ec5242;
  height: 2px;
  width: 5%;
}

.upper-footer {
  background-color: #272a31;
}

#hr-footer {
  color: #ec5242;
  height: 2px;
  width: 5%;
}

.lower-footer {
  background-color: #fff;
}

.footer-logo {
  height: 200px;
  width: 300px;
}

#isc {
  color: #ec5242;
}
